@use '@angular/material' as mat;
@use '@angular/material/theming' as mat-theming;
@include mat.core();
@function create-custom-primary-palette($base-color) {
  $palette: mat-theming.define-palette(mat-theming.$cyan-palette); 
  
  @return map_merge($palette, (
    500: $base-color,
    contrast-500: mat-theming.get-contrast-color($palette, $base-color)
  ));
}
$app-primary: create-custom-primary-palette(#64FFDA);


$app-accent: mat-theming.define-palette(mat-theming.$pink-palette, A200, A100, A400);


$app-warn: mat-theming.define-palette(mat-theming.$red-palette);


$app-dark-theme: mat-theming.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  
  background: (
    background: #000000, 
    card: #0A192F,       
    dialog: #0A192F,
    hover: rgba(white, 0.04),
    selected-button: rgba(white, 0.08),
    selected: rgba(white, 0.06),
    disabled-button: rgba(white, 0.08),
    raised-button: #0A192F, 
    focused-button: rgba(white, 0.12),
  ),
  foreground: (
    base: rgba(255, 255, 255, 0.87), 
    secondary-text: rgba(255, 255, 255, 0.7), 
    hint-text: rgba(255, 255, 255, 0.5),
    disabled-text: rgba(255, 255, 255, 0.5),
    icon: rgba(255, 255, 255, 0.87),
    divider: rgba(255, 255, 255, 0.12),
    placeholder: rgba(255, 255, 255, 0.5),
  )
));
@include mat.all-component-themes($app-dark-theme);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; // Sua fonte 'font-display'
  background-color: #000000; // Sua cor 'background-dark'
  color: #C0C0C0; // Uma cor geral para o texto que se aproxima de text-gray-300
}
.mat-mdc-form-field {
  --mdc-filled-text-field-container-color: rgba(0, 0, 0, 0.12); // bg-black/20 (aproximado)
  --mdc-filled-text-field-focus-active-indicator-color: #64FFDA; // focus:border-primary
  --mdc-filled-text-field-hover-active-indicator-color: #64FFDA;
  --mdc-filled-text-field-input-text-color: #fff; // text-white
  --mdc-filled-text-field-label-text-color: #9CA3AF; // text-gray-400
  --mdc-filled-text-field-focus-label-text-color: #64FFDA; // focus:border-primary para label
  --mdc-filled-text-field-leading-icon-color: #9CA3AF;
  --mdc-filled-text-field-trailing-icon-color: #9CA3AF;
  --mdc-filled-text-field-container-shape: 8px; // rounded-lg
  --mdc-filled-text-field-active-indicator-height: 1px; // Ajuste para ser mais fino
  .mdc-notched-outline {
    border-color: rgba(30, 58, 138, 0.4) !important; // border-blue-900/40
  }
}
.mdc-button.mat-mdc-raised-button.mat-primary {
  background-color: #64FFDA !important; 
  color: #000000 !important; 
  height: auto; 
  min-height: 40px; 
  padding: 10px 24px; 
  font-weight: 700; 
  border-radius: 8px; 
  transition: opacity 0.2s ease-in-out; 
  text-transform: none; 
}

.mdc-button.mat-mdc-raised-button.mat-primary:hover {
  opacity: 0.8; 
}