/* Tailwind v4 */
@use 'tailwindcss';

/* Toastr */
@use 'ngx-toastr/toastr';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: white;
}
